.DS_Store

# Python Bytecode
__pycache__/
*.py[cod]

# Arbeitsverzeichnisse von Loki (Log-Dateien, Chunks, Indexe etc.)
storage/loki/

# Promtail-Positionsdatei (Laufzeitdaten – sollte nicht versioniert werden)
positions-new.yaml

# Sensible Daten wie Passwort & Benutzername → Es werden alle .env-Dateien ignoriert
#*.env
